*{
  // background-color: red;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.home{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(70px, auto);
  height: 100vh;
}

.navbar{
  grid-column: 1/13;
  background-color: #189AB4;
  height: 70px;
  position: sticky;
}

.sidebar{
  grid-column: 1/3;
  grid-row: 2/12;
  background-color: #05445E;
  &__links{
    height: 50px;
    border-bottom: 1.5px solid #D4F1F4;
    display: flex;
    // justify-content: space-between;
    align-items: center;
    padding:0 2em ;
    p{
      font-size: 18px;
      color: #fff;
    }
  }
  &__icons{
    // width: 50px;
    // height: 10px;
    margin-right: 1em;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
  }
  
  // height: 100%;
}

.landing{
  grid-column: 3/13;
  grid-row: 2/12;
  overflow-y: auto;
  background-color: #D4F1F4;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(300px, auto);
  padding: 1em;
  &__box{
    border-radius: 6px;
    background: #fff;
    box-shadow: 0px 0px 34px -4px rgba(0,0,0,0.22);
    -webkit-box-shadow: 0px 0px 34px -4px rgba(0,0,0,0.22);
    -moz-box-shadow: 0px 0px 34px -4px rgba(0,0,0,0.22);
  }
  // height: 100%;
}

.box-1{
  grid-column: 1/6;
  
}
.box-2{
  grid-column: 6/9;
  
}
.box-3{
  grid-column: 9/13;
  // height: 400px;
  grid-row: 1/3;
}

.box-4{
  grid-column: 1/4;
  height: 300px;
}

.box-5{
  grid-column: 4/9;
  height: 300px;
}

.box-6{
  grid-column: 1/4;
  grid-row: 3/5;
}

.box-7{
  grid-column: 4/13;
  // grid-row: 3/4;
}

.box-8{
  grid-column: 4/7;
  
}

.box-9{
  grid-column: 7/10;
  
}

.box-10{
  grid-column: 10/13;
  
}

@media screen and (max-width: 768px){
  .landing{
    
  }
.box-1{
  grid-column: 1/6;
  
}
.box-2{
  grid-column: 6/13;
  
}
.box-3{
  grid-column: 1/8;
  grid-row: 2/4;
}

.box-4{
  grid-column: 8/13;
  grid-row: 2/3;
}

.box-5{
  grid-column: 8/13;
  grid-row: 3/4;
}

.box-6{
  grid-column: 1/6;
  grid-row: 4/5;
}

.box-7{
  grid-column: 6/13;
  grid-row: 4/5;
}

.box-8{
  grid-column: 1/7;
  
}

.box-9{
  grid-column: 7/13;
  
}

.box-10{
  grid-column: 1/8;
  
}
}

@media screen and (max-width: 468px){
  .landing{
    
  }
.box-1{
  grid-column: 1/13;
  
}
.box-2{
  grid-column: 1/13;
  grid-row: 2/3;
}
.box-3{
  grid-column: 1/13;
  grid-row: 3/4;
}

.box-4{
  grid-column: 1/13;
  grid-row: 4/5;
}

.box-5{
  grid-column: 1/13;
  grid-row: 5/6;
}

.box-6{
  grid-column: 1/13;
  grid-row: 6/7;
}

.box-7{
  grid-column: 1/13;
  grid-row: 7/8;
}

.box-8{
  grid-column: 1/13;
  grid-row: 8/9;
}

.box-9{
  grid-column: 1/13;
  grid-row: 9/10;
}

.box-10{
  grid-column: 1/13;
  grid-row: 10/11;
}
}